<div [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width-input">
        <textarea 
        matInput 
        placeholder="Ingrese texto"
        #textarea 
        formControlName="textarea" 
        id="textarea" 
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        
        [maxlength]="maxlength"
        [cdkAutosizeMinRows]="minRow"
        [cdkAutosizeMaxRows]="maxRow"
        >
        </textarea>
        <mat-error *ngIf="checkError()">
            <div *ngIf="textError; then error else noerror"></div>
            <ng-template #error>
                {{ textError }}
            </ng-template>
            <ng-template #noerror>
                Ingrese un valor
            </ng-template>
        </mat-error>

    </mat-form-field>
</div>
