
<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Componentes</span>
    <span class="toolbar-item-spacer"></span>
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="#">
            <mat-icon>person</mat-icon><span>Mi cuenta</span>
        </button>
    </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" class="app-sidenav" opened="true" >
        <mat-nav-list>
            <mat-list-item routerLink="/">
                <mat-icon>dashboard</mat-icon><span>Dashboard</span>
            </mat-list-item>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Componentes para web Administrativa
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/textarea">
                        <mat-icon>subject</mat-icon><span>componente textArea</span>
                    </a>
                    <a mat-list-item routerLink="fileinput">
                        <mat-icon>attach_file</mat-icon><span>componente FileInput</span>
                    </a>
                    <a mat-list-item routerLink="calendar">
                        <mat-icon>calendar_today</mat-icon><span>componente Calendario</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>
            <div class="app-sidenav-content">

            </div>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>